<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.mylogin">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" /> <!-- camera, gallery -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_main"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_main_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".Chat.ChatRoom"></activity>
        <activity android:name=".MyPage.ReviewWrite" />
        <activity android:name=".MyPage.Master.AddCamp"></activity>
        <activity android:name=".MyPage.ReviewWrite" />
        <activity android:name=".MyPage.Reserving" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.mylogin"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".SNS.Home.Comment" />
        <activity android:name=".MyPage.User.MyPage" />
        <activity android:name=".MyPage.Master.MyPage_m" />
        <activity android:name=".MyPage.RequestProfile.RequestProfileActivity" />
        <activity android:name=".SEARCH.Detail.DetailInformation" />
        <activity android:name=".WebView.WebViewActivity" />
        <activity android:name=".SearchUser.SearchIdActivity" />
        <activity android:name=".LoginActivity">
            <intent-filter> <!-- 처음 엑티비티 설정하는 목록1 -->
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter> <!-- 처음 엑티비티 설정하는 목록(이걸 옮긴다) -->
        </activity>
        <activity android:name=".RegisterActivity" />
        <activity android:name=".MainActivity" /> <!-- 네트워크 상태체크 -->
        <receiver android:name=".NetworkReceiver">
            <intent-filter>
                <action android:name="android.net.conn.BACKGROUND_DATA_SETTING_CHANGED" />
            </intent-filter>
        </receiver> <!-- 구글맵 API -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCnAEbngMbRujX6g9w3Vql4800Sz-OSzcM" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>